/** @format */
:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --tertiary-color: #272142;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: "Cookie", cursive;
  --default-font-family: "Montserrat", sans-serif;
  --links-font-family: "Pangolin", cursive;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}

a {
  font-family: var(--links-font-family);
}

h1 {
  font-size: 96px;
  line-height: 120px;
  color: var(--primary-color);
}

p {
  font-size: 17px;
  line-height: 27px;
  padding: 50px 150px;
}

.nav-link {
  color: var(--primary-color) !important;
  font-weight: normal;
}

.nav-link.active {
  color: var(--primary-color) !important;
  font-weight: bolder;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding-top: 60px;
}

.emoji {
  font-size: 45px;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 30px;
  color: var(--tertiary-color);
}

.hero p {
  font-size: 36px;
  line-height: 40px;
  padding-top: 20px;
}

.hero img {
  border-radius: 17px;
  max-height: 450px;
}

.navigation-links a {
  margin: 30px;
}

.primary-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  font-size: 18px;
  line-height: 27px;
  border-radius: 17px;
  padding: 24px 17px;
  text-decoration: none;
  text-transform: capitalize;
  width: 130px;
}

.primary-link:hover {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.secondary-link {
  color: var(--primary-color);
  font-size: 18px;
  line-height: 27px;
  border: 1px solid var(--primary-color);
  border-radius: 17px;
  padding: 24px 17px;
  text-decoration: none;
  text-transform: capitalize;
  width: 130px;
}

.secondary-link:hover {
  color: var(--primary-color);
}

.portfolio-snippet {
  padding: 40px;
}

.portfolio-snippet p {
  padding: 20px 0;
}

.portfolio-snippet img {
  max-height: 350px;
  margin: 0 auto;
}

.portfolio-snippet-content {
  padding-top: 50px;
}

.app-link {
  color: var(--primary-color);
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  text-transform: capitalize;
}

.app-link:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.header-section {
  background: var(--secondary-color);
  text-align: center;
  padding: 40px 20px;
}

.header-section h2,
h4 {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 30px;
  color: var(--tertiary-color);
}

.portfolio-container {
  padding: 40px 10px;
}

.portfolio-container h2 {
  font-size: 60px;
  line-height: 65px;
}

.portfolio-container img {
  max-height: 500px;
  border-radius: 17px;
  margin: 0 auto;
}

.project-description {
  padding: 80px 40px;
}

.project-description p {
  padding: 0;
}

.work-enquiry-section {
  background: var(--secondary-color);
  border-radius: 17px;
  padding: 25px 70px;
  text-align: center;
  max-width: fit-content;
}

.work-enquiry-section p {
  padding: 0;
}

.work-enquiry-form {
  background: var(--secondary-color);
  border-radius: 17px;
  padding: 30px;
  margin-top: 40px;
}

.work-enquiry-form h2 {
  text-align: center;
  font-size: 50px;
}

.work-enquiry-form button {
  margin: 0 auto;
  padding: 17px 13px;
  font-size: 17px;
  line-height: 1;
}

footer {
  background: var(--secondary-color);
  padding: 30px 0;
}

footer h4 {
  color: var(--primary-color);
  text-align: center;
  font-family: var(--heading-font-family);
  font-size: 40px;
}

footer .social-links a {
  color: var(--primary-color);
  background: var(--secondary-color);
  font-size: 25px;
  border-radius: 50%;
  padding: 10px 17px;
  margin: 0 20px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--secondary-color);
  background: var(--primary-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 70px;
    line-height: 1.7;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 20px 0;
  }

  .hero img {
    max-height: 250px;
  }

  .hero h1 {
    font-size: 70px;
    line-height: 1;
  }

  .hero h2 {
    font-size: 20px;
    padding: 5px 30px;
  }

  .portfolio-snippet {
    text-align: center;
  }

  .portfolio-snippet p {
    font-size: 15px;
    padding: 10px;
  }

  .header-section {
    padding: 20px;
  }

  .header-section p {
    font-size: 15px;
    padding: 10px;
  }

  .project-description {
    text-align: center;
    padding: 40px 10px;
  }

  .portfolio-container h2 {
    font-size: 44px;
  }

  .work-enquiry-form {
    max-width: 88%;
  }

  .work-enquiry-section {
    max-width: 88%;
  }

  .work-enquiry-section button {
    padding-top: 20px;
  }

  footer {
    padding: 20px 0;
  }

  footer h4 {
    font-size: 35px;
  }

  footer .social-links a {
    font-size: 20px;
    padding: 8px 15px;
    margin: 0px 10px;
  }
}
